<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/product/search" method="post">
        <input name="min" th:value="${param.min}" placeholder="Min Price?">
        <input name="max" th:value="${param.max}" placeholder="Max Price?">
        <button>Search</button>
    </form>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.createDate}"></td>
        </tr>
    </table>
</body>
</html>